.Game {
    height: 100%;
}
.Cockpit {
    height: 20%;
}
.Cards {
    height: 80%;
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
}
.Waiting {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.Waiting .Thinking div {
    background: black;
}
